
<div class="container center-large">
  <div class="p-4 border rounded">
    <div class="container">
      <h2 class="row">Inicio de sesion</h2>
      <form (ngSubmit)="onLogin()">
        <div class="row mb-3">
          <label for="username">Usuario:</label>
          <input type="text" id="username" [(ngModel)]="username" name="username" class="form-control" required>
          
          <label for="password">Password:</label>
          <input type="password" id="password" [(ngModel)]="password" name="password" class="form-control" required>
    
        </div>
        
        <div class="row">
          <button type="submit" class="btn btn-primary">Iniciar sesion</button>
        
          <button class="btn btn-link" [routerLink]="['/register']">Registrar usuario</button>
        </div>
      </form>
    </div>
  </div>
</div>