/* You can add global styles to this file, and also import other style files */
@media (min-width: 992px) {
    .center-large {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
    }
}